# --- SERVER CONFIG ---
PORT=3000
NODE_ENV=development  # Ubah ke 'production' saat sudah di Railway

# --- DATABASE (POSTGRESQL) ---
DB_HOST=localhost         # Di Railway nanti ini akan berubah menjadi Host dari Railway
DB_PORT=5432
DB_USER=postgres          # Username yang kamu lihat di pgAdmin
DB_PASSWORD=Admin1234     # Password PostgreSQL kamu
DB_NAME=sipena_sabah      # Nama database yang baru saja kamu buat

# --- SECURITY ---
# JWT Secret yang kuat (64-byte hex, generated securely)
JWT_SECRET=4be48a9309dfef05fe498370d9bfa1a7c3f9290337e029b7edd34d2a0e8c1f652ef1629d4a24fafa179c315ab169bc38c384570eea8009a2b3c4d5e6f7a8b9c0d
JWT_EXPIRES_IN=1d

# URL Frontend lokal kamu (Vite)
FRONTEND_URL=http://localhost:5173

# --- GOOGLE SHEETS API ---
# Pastikan file .json dari Google Cloud ditaruh di folder backend
GOOGLE_APPLICATION_CREDENTIALS=./service-account-key.json
# Ambil dari URL Google Sheets kamu (antara /d/ dan /edit)
SPREADSHEET_ID=1vmJJ2QjeHIRdr0jAUUw7J1sXgaA2GTIf0r8xg5Soa6E
SPREADSHEET_RANGE_HEALTH=Health!A2:E
SPREADSHEET_RANGE_EDUCATION=Education!A2:E
